@font-face {
    font-family: "budmo_jigglerregular";
    src: url("../css/Budmo/Budmo-Jiggler.woff") format("woff");
}
@font-face{
    font-family: "franchise";
    src: url("../css/Franchise-Free-Bold.woff") format("woff");
}
body {
    font-family: 'Fira Mono',monospace;
    color: #222;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #f6eae3;
}

.masthead {
    padding: .8em 0 0;
    border-bottom: solid 1px #222;
}



footer, section, header {
    display: block;
}

.left {
    float: left;
}

h1 {
    font-family: 'Abril Fatface',cursive;
    font-size: 2em;
    font-weight: 400;
    margin: .2em 0 0 1em;
    padding: 0 0 .6em;
    letter-spacing: 0px;
}

#cssmenu {
    margin: .4em 0 0;
}

#cssmenu {
    text-align: right;
}

ul {
    list-style: none;
}

#cssmenu li {
    display: inline;
}

#cssmenu a {
    font-size: .8em;
}

#cssmenu a, #cssmenu .cat_menu a {
    color: #222;
}

.menu {
    padding: 0 1.6em 0 0;
}




.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.intro {
    height: 80vh;
}
.flex {
    display: flex;
}
.home-inner {
    width: 70%;
    margin: 0 auto 10vh auto;
}

.home-inner h3{
    font-family: 'Abril Fatface',cursive;
    color: #333333;
    font-weight: 400;
    font-size: 1.6vw;
    margin: .8em 0 1.6em;
    width: 60%;
}
.arrow{
    font-size: 48px;
}


@media (max-width: 800px) {
    .arrow {
        transform: rotate(90deg);
        font-size: 50px;

    }
  }
.arrow {
    font-size: 1.4em;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 .2em;
}
    
.intro-heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
    color: #333333;
    line-height: 1.3em;
    word-spacing: .1em;
    letter-spacing: 1px;
    width: 70%;
    margin: auto;

}

.projects a {
    color: #222;
    border: solid 1px #222;
    font-size: 2vw;
    padding: 1.6em;
    display: inline-block;
    margin: 0 .5em .5em 0;
    border-radius: 1.2em;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

}

.Netflix, .cat_menu .category-Netflix:hover a, .blog li.category-Netflix:hover, .single body.category-Netflix, .archive body.category-Netflix {
    background: #a4e4f7;
    text-decoration: none;
    font-family: 'budmo_jigglerregular', serif;
}

.NBA, .cat_menu .category-NBA:hover a, .blog li.category-NBA:hover, .single body.category-NBA, .archive body.category-NBA {
    background: #f7a284;
    text-decoration: none;
    font-family: 'franchise';
}

.NBA:hover{
    background: white;
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 27.64px;
    border-bottom-right-radius: 27.64px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.9700000286102295);
    background-repeat: repeat;
}

.Netflix:hover{
    background: white;
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 27.64px;
    border-bottom-right-radius: 27.64px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.9700000286102295);
    background-repeat: repeat;
}

.projects li {
    display: inline;
}

.inner {
    width: 92%;
    margin: 0 auto;
}

footer {
    border-top: solid 1px #222;
}

footer small {
    padding: 2.4em 0;
    display: block;
}

@media (max-width: 900px){
    
.intro-heading {
    font-size: 12vw;
    width: 90%;
    line-height: 1.3em;
}

}